{% extends 'base.html.twig' %}

{% block title %}Criar Usuario!{% endblock %}

{% block body %}

    <div class="container-form">
        <h1>Crie sua conta agora!</h1>

        <form action="/criar-usuario" method="post" class="criar-evento">
            <div class="form-input">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome">
            </div>

            <div class="form-input">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome"  name="sobrenome">
            </div>

            <div class="form-input">
                <label for="email">E-mail</label>
                <input type="email" id="email"  name="email">
            </div>

            <div class="form-input">
                <label for="senha">Senha</label>
                <input type="password" id="senha"  name="senha">
            </div>

            <button>Cadastrar</button>
        </form>
    </div>
{% endblock %}

